﻿@model BookStore.Web.Controllers.RoleViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RoleViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(t => t.RoleId)
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="row">
                <h4>權限設定</h4>
            </div>
            @for (var i = 0; i < Model.RoleClaims.Count; i++)
            {
                <div class="card">
                    <div class="card-header">
                        @Html.HiddenFor(t => t.RoleClaims[i].ClaimType)
                        @Html.CheckBoxFor(t => t.RoleClaims[i].Enabled)
                        <span>@Model.RoleClaims[i].ClaimType</span>
                    </div>
                    <div class="card-body">
                        @for (var j = 0; j < Model.RoleClaims[i].ClaimValues.Count; j++)
                        {
                            @Html.HiddenFor(t => t.RoleClaims[i].ClaimValues[j].ClaimValue)
                            @Html.CheckBoxFor(t => t.RoleClaims[i].ClaimValues[j].Enabled)
                            <slang>@Model.RoleClaims[i].ClaimValues[j].ClaimValue</slang>
                        }
                    </div>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
