﻿@model BookStore.Web.Controllers.UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>編輯使用者</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(t => t.UserId)
                <label asp-for="UserId" class="control-label"></label>
                <span class="text-success">@Model.UserId</span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="card">
                <div class="card-header">
                    角色
                </div>
                <div class="card-body">
                    @for (var i = 0; i < Model.Roles.Count; i++)
                    {
                        <div class="row">
                            @Html.HiddenFor(t => t.Roles[i].RoleName)
                            <div class="col-1">
                                @Html.CheckBoxFor(t => t.Roles[i].Checked)
                            </div>
                            <div class="col">
                                <label>@Model.Roles[i].RoleName</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
